APP_NAME=GnNationHub
NEXT_PUBLIC_APP_NAME=GnNationHub

DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=gnnationhub
DB_USERNAME=root
DB_PASSWORD=

AUTH_SECRET=change-this-long-random-secret
AUTH_ADMIN_NAME=Administrateur
AUTH_ADMIN_EMAIL=admin@gnnationhub.gov.gn
AUTH_ADMIN_PASSWORD=admin12345
